#mw-content-text table.bs-et-highlight {
	background-color: #FFFFA3 !important;
}

.bs-exporttables-menu  .x-title-text {
	background-color: @bs-color-neutral3;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.icon-csv {
	/*@embed*/
	background-image: url('images/table.png');
}

.icon-xls {
	/*@embed*/
	background-image: url('images/page_excel.png');
}

.icon-xlsx {
	/*@embed*/
	background-image: url('images/page_white_excel.png');
}