#mw-content-text table.bs-et-highlight {
	background-color: #ffffa3 !important;
}

.icon-csv,
.oo-ui-icon-csv {
	/* @embed */
	background-image: url( lib/famfamfam-silk/table.png );
	opacity: 1;
}

.icon-xls,
.oo-ui-icon-xls {
	/* @embed */
	background-image: url( lib/famfamfam-silk/page_excel.png );
	opacity: 1;
}

.icon-xlsx,
.oo-ui-icon-xlsx {
	/* @embed */
	background-image: url( lib/famfamfam-silk/page_white_excel.png );
	opacity: 1;
}

.export-button {
	opacity: 1;
}

.export-button .oo-ui-iconElement-icon {
	background-size: auto;
}

.bs-exporttables-progress-dialog {
	.oo-ui-window-head {
		.oo-ui-buttonWidget {
			float: right;
		}
	}

	.bs-exporttables-progress-dialog-content.error .oo-ui-messageWidget {
		margin-top: 30px;
	}
}
